<div class="card interactive">
  <div class="card__translater">
    <button class="card__rotator" tabindex="0">
      <!-- <img
        class="card__back"
        src="{back_img}"
        alt="The back of a Pokemon Card, a Pokeball in the center with Pokemon logo above and below"
        loading="lazy"
        width="660"
        height="921"
      /> -->
      <div class="card__front" (mouseover)="interact($event)">
        <img
          [src]="item.images.large"
          width="660"
          height="921"
        />
        <!-- <div class="card__shine"></div>
        <div class="card__glare"></div> -->
      </div>
    </button>
  </div>
</div>
